<form>
    <div class="well no-decoration">
        {{#if controller}}
            <div class="custom-dropdown clearfix attendee_list space_below">
                <ul class="custom-dropdown-menu dropdown-menu-customization">
                    {{#each request in controller}}
                        {{partial _single_removal_request}}
                    {{/each}}
                </ul>
            </div>

            <div class="request_actions">
                <button class="btn btn-success" {{action allow target="view"}}>Allow</button>
                <button class="btn btn-danger" {{action deny target="view"}}>Deny</button>
            </div>

        {{else}}
            <h4>
                No nonresolved removal requests in existence
            </h4>
        {{/if}}
    </div>
</form>
