<form>
    {{!-- <div class="well no-decoration"> --}}
        {{#if controller}}
            {{!-- <ul class="list-group"> --}}
                    {{#each request in controller}}
                        {{partial '_single_removal_request'}}
                    {{/each}}
            {{!-- </ul> --}}

            <div class="request_actions">
                <button class="btn btn-success" {{action 'allow'}}>Allow</button>
                <button class="btn btn-danger" {{action 'deny'}}>Deny</button>
            </div>

        {{else}}
            <h4>
                No nonresolved removal requests in existence
            </h4>
        {{/if}}
    {{!-- </div> --}}
</form>
