<nav>
    {{#linkTo 'index' class="btn"}}Home{{/linkTo}}
    {{#linkTo 'admin' class="btn"}}Admin{{/linkTo}}
    {{#linkTo 'info' class="btn"}}Info{{/linkTo}}

    {{#if is_admin}}
        <a class="btn" href="/logout">Logout</a>
    {{/if}}
</nav>
