<nav>
    {{#link-to 'index' class="btn"}}Home{{/link-to}}
    {{#link-to 'info' class="btn"}}Info{{/link-to}}

    <span class="barrier">|</span>

    {{#if target.isAuthenticated}}
        {{#link-to 'admin' class="btn"}}Admin{{/link-to}}
        <button {{action 'logout'}} class="btn">Logout</button>
    {{else}}
        {{#link-to 'auth' class="btn"}}Auth{{/link-to}}
    {{/if}}
</nav>
