<nav>
    {{#link-to 'index' class="btn"}}Home{{/link-to}}

    {{#if is_admin}}
        {{#link-to 'admin' class="btn"}}Admin{{/link-to}}
        {{#link-to 'logout' class="btn"}}Logout{{/link-to}}
    {{else}}
        {{#link-to 'auth' class="btn"}}Auth{{/link-to}}
    {{/if}}

    {{#link-to 'info' class="btn"}}Info{{/link-to}}
</nav>
