<div class="row">
    <div class="enclosure">
        <h3>Admin</h3>

        <p class="well no-decoration">
            "Allow" will remove that attendee from that table.
            "Deny" will leave them on that table.
            <br/>
            Both remove the request from this page
        </p>

        {{partial _admin_form}}
    </div>
</div>
