<div class="row">
    <div class="enclosure span4 offset4">
        <form style="margin:0;">
            {{log this}}
            <label for="username">
                Username: {{view Ember.TextField valueBinding="username"}}
            </label>
            <label for="password">
                Password: {{view Ember.TextField type="password" valueBinding="password"}}
            </label>
             <button
                {{action submitAuthFormEvent}}
                class="btn btn-large" type="submit">Submit</button>
        </form>
    </div>
</div>
