<div class="row col-lg-12">
    {{! iterate through each table }}
    {{#each ball_table in controller}}

        {{! some logic to make sure the tables are evenly layed out }}
        {{#if ball_table.row_start}}
            <div class="row">
        {{/if}}

        <div class="col-md-6">
            {{ball-table ball_table=ball_table}}
        </div>

        {{#if ball_table.row_end}}
            </div>
        {{/if}}

    {{/each}}
</div>
