<div>
    <div id="tableContainer">
        {{! iterate through each table }}
        {{#each ball_table in controller}}
            {{control_smart 'ball_table' ball_table}}

        {{! logic to make sure the tables are evenly layed out }}
        {{#if ball_table.row_end}}
            </div>
        {{else}}
            {{! if it aint the end, it must be the start }}
            <div class="row">
        {{/if}}

        {{/each}}
    </div>
</div>
