<div class="row ">
    <div class="enclosure">
        <h3>Info</h3>
        <p>
            The concept behind this website is moderately simple.
        <p/>
        <p>
            Attendee's of the Margaret River Senior High School Ball o' 2013 select a table from the {{#link-to "index"}}homepage{{/link-to}}, enter their name and the name of their partner, and it is stored in the system.
        <p/>
        <p>
            If an Attendee makes a choice which they later wish to change, they simply click the small <button type="button" class="float_none spec_close">&times;</button> next to the entry they wish to change.
            Due to a risk of abuse, the change is not made immediately.
            The change must be approved by moderators.
        </p>
        <p>
            Close to the ball itself, this table representation will be frozen, disallowing any changes via this interface from then on.
            Any changes that Attendees wish to make after that will have to be made through the moderators.
        </p>
        <p>- Dom</p>
    </div>
</div>
