{{! we do not use a body here, because we have no need of long notificiations}}
<div class="modal-header">
    <a href="#" class="close" rel="close">&times;</a>
    {{view view.headerViewClass}}
</div>
<div class="modal-footer">
    {{view view.footerViewClass}}
</div>
