<div class="well add-attendee-form">
    <form>
        <div class="form-group">
            <label class="control-label">
                Attendee name: {{view Ember.TextField valueBinding="attendee_name"}}
            </label>
        </div>

        <button
            {{action addAttendeeFormEvent attendee_name}}
            type="submit"
            class="btn btn-primary">Submit attendee</button>
    </form>
</div>
