<div class="submit_attendee_form">
    <form class="well submit_attendee">
        <label>
            <strong>Attendee name:</strong> {{view Ember.TextField valueBinding="view.attendee_name"}}
        </label>
        <button
            {{action addAttendeeFormEvent view.attendee_name target="view"}}
            type="submit"
            class="btn btn-primary">Submit attendee</button>
    </form>
</div>
