<div class="custom-dropdown space_below">
    <ul class="custom-dropdown-menu dropdown-menu-customization">
        {{#each attendee in attendees}}
            {{partial 'single_attendee'}}
        {{/each}}
    </ul>
</div>
