<div class="enclosure space_below span5">
    <h2 style="color:black;">
        {{#link-to "ball_table" ball_table}}
            {{ball_table.ball_table_name}}
        {{/link-to}}
    </h2>

    {{#unless ball_table.full}}
        {{add-attendee ball_table=ball_table}}
    {{/unless}}

    <div>
        {{#if ball_table.displayable_attendees}}
            {{#attendee-list}}
                {{#each attendee in ball_table.displayable_attendees}}
                    {{partial 'single_attendee'}}
                {{/each}}
            {{/attendee-list}}
        {{else}}
            <h5>No attendees on this table yet</h5>
        {{/if}}
    </div>
</div>
