<div class="enclosure space_below span5">
    <h2 style="color:black;">{{ball_table.ball_table_name}}</h2>

    {{#unless ball_table.full}}
        {{add-attendee ball_table=ball_table}}
    {{/unless}}

    {{attendee-list attendees=ball_table.attendee_ids}}
</div>
