{% extends "base.html" %}
{% block title %}Ball Table Select{% end %}
{% block content %}
    <div class="row">
        <div class="enclosure span4 offset4">
            <form method="POST" style="margin:0;">
                <label for="username">
                    Username: <input type="text" name="username"/>
                </label>
                <label for="password">
                    Password: <input type="password" name="password"/>
                </label>
                <button class="btn btn-large" type="submit">Submit</button>
        </div>
    </div>
{% end %}
