<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Table Select Web</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
        <!-- <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet"> -->
        <link href="{{ static_url('css/custom.css') }}" rel="stylesheet">

        <!-- while we are developing it, we'll leave it as un-responsive :P -->
        <!-- <link href="{{ static_url('css/bootstrap-responsive.css') }}" rel="stylesheet"> -->
        <!-- <link href="{{ static_url('css/bootstrap-responsive.min.css') }}" rel="stylesheet"> -->


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
                   <link rel="shortcut icon" href="/ico/favicon.png"> -->
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="{{ static_url('js/third-party/jquery-2.0.2.js') }}"></script>
        <script src="{{ static_url('js/third-party/bootstrap.min.js') }}"></script>
        <script type="text/javascript">
            if (window.navigator.userAgent.indexOf('Firefox') !== -1) {
                     $('body').addClass('firefox');
            };

            window.ENV = window.ENV ? window.ENV : {};
            ENV.EXPERIMENTAL_CONTROL_HELPER = true;
        </script>


        <!-- Libraries -->
        <script src="{{ static_url('js/third-party/handlebars-1.0.0.js') }}"></script>
        <script src="{{ static_url('js/third-party/ember.js') }}"></script>
        <script src="{{ static_url('js/third-party/ember-data.js') }}"></script>

        <!-- App -->
        <script src="{{ static_url('js/app/app_new.js') }}"></script>
        <script src="{{ static_url('js/app/utils.js') }}"></script>

        <!-- Routes -->
        <script src="{{ static_url('js/app/routes/router.js') }}"></script>
        <script src="{{ static_url('js/app/routes/index_route.js') }}"></script>
        <script src="{{ static_url('js/app/routes/info_route.js') }}"></script>

        <!-- Models -->
        <script src="{{ static_url('js/app/models/ball_tables_model.js') }}"></script>
        <script src="{{ static_url('js/app/models/attendee_model.js') }}"></script>
        <script src="{{ static_url('js/app/models/removal_request_model.js') }}"></script>
        <script src="{{ static_url('js/app/models/store.js') }}"></script>

        <!-- Controllers -->
        <script src="{{ static_url('js/app/controllers/add_attendee_controller.js') }}"></script>
        <script src="{{ static_url('js/app/controllers/attendee_list_controller.js') }}"></script>
        <script src="{{ static_url('js/app/controllers/message_modal_controller.js') }}"></script>

        <!-- Views -->
        <script src="{{ static_url('js/app/views/add_attendee_view.js') }}"></script>
        <script src="{{ static_url('js/app/views/attendee_list_view.js') }}"></script>
        <script src="{{ static_url('js/app/views/modal_view.js') }}"></script>
        <script src="{{ static_url('js/app/views/message_modal_view.js') }}"></script>

        <!-- Templates -->
        <!-- <script src="{{ static_url('js/app/template.js') }}"></script> -->

        <!-- Ember plugins -->
        <!-- <script src="{{ static_url('js/third-party/ember-easyForm-0.1.0.js') }}"></script> -->
        <script src="{{ static_url('js/third-party/ember_plugins/ember_control/monkey_patch.js') }}"></script>
        <script src="{{ static_url('js/third-party/ember_plugins/ember_control/control.js') }}"></script>

        <!-- // <script type="text/javascript" src="{{ static_url('js/app/admin_logic.js') }}"></script> -->

        <script type="text/x-handlebars">
            {{!! this is the base template for the application }}
            <div class="container">
                    {{!partial header}}

                    {{!outlet 'application'}}

                    {{!outlet 'modalOutlet'}}

            </div> <!-- /container -->
        </script>

        {% block content %}
        {% end %}

    </head>

    <body>
    </body>

</html>
