{% extends "base.html" %}
{% block title %}Ball Table Select{% end %}
{% block content %}
    <!--
    ME from the future!
    The the exclamation mark in all the parts {{! is needed to make the tornado
    template engine ignore those tags, so they get passed through to Handlebars.js :D
    -->

    <div class="span12">
        <div id="tableContainer" class="fixmargin">
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Modal header</h3>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>

    <script type="text/x-handlebars-template" id="add_attendee_form_template">
        <div class="submit_attendee_form">
            <form class="well submit_attendee">
                <input type="hidden" value="{{!table_id}}" name="table_id"/>
                <label><strong>Attendee name:</strong> <input type="text" name="attendee_name"></label>
                <button class="btn btn-primary">Submit attendee</button>
            </form>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="single_attendee_template">
        <li class="attendee">
            <span tabindex="-1">
                {{!attendee_name}}
                <button type="button" class="spec_close" data-attendee-id="{{!attendee_id}}" data-table-id="{{!table_id}}"
                    onclick="javascript:app.request_remove_attendee(this)">&times;</button>
            </span>
        </li>
    </script>

    <script type="text/x-handlebars-template" id="attendee_list_template">
        <div>
            {{!#if attendees}}
                <div class="custom-dropdown clearfix attendee_list" data-table-id="{{!table_id}}">
                    <ul class="custom-dropdown-menu dropdown-menu-customization" role="menu">
                            {{!#each attendees}}
                                {{!>single_attendee}}
                            {{!/each}}
                    </ul>
                </div>
            {{!else}}
                <h5>No attendees on this table yet</h5>
            {{!/if}}
        </div>
    </script>

    <script type="text/x-handlebars-template" id="table_template">
        <div class="row">
        {{!#each tables}}
            <div class="enclosure space_below span5" data-table-id="{{!table_id}}" id="table-{{!table_id}}">
                <h2>Table {{!table_id}}</h2>

                {{!>add_attendee_form}}
                {{!>attendee_list}}
            </div>
        {{!#if row}}
            </div>
            <div class="row">
        {{!/if}}
        {{!/each}}
        </div>
    </script>

{% end %}
