{% extends "base.html" %}
{% block title %}Galaxy{% end %}
{% block content %}
    {% for table in tables %}
        <div class="enclosure space_below" data-table-id="{{table['table_id']}}" id="table-{{table['table_id']}}">
            <h2>Table {{table['table_id']}}</h2>
            <div>
                {% for member in table['attendees'] %}
                    <div>{{member['attendee_name']}}</div>
                {% end %}
            </div>
        </div>
    {% end %}
{% end %}
