<li class="attendee">
    <span tabindex="-1">
        {{attendee_name}}
        <button type="button" class="spec_close"
            {{bindAttr data-attendee-id="attendee_id"}}
            data-table-num="{{unbound table_num}}"
            {{action RequestRemoveAttendee view.attendee on="click" }}
            >&times;</button>
            <!--onclick="javascript:app.request_remove_attendee(this)"-->

        {{#if removal_request_exists }}
            <i class="icon-info-sign removal_request_notif" title="Removal request pending"></i>
        {{/if}}
    </span>
</li>
