<div>
    {{#if attendees}}
        <div class="custom-dropdown clearfix attendee_list">
            <ul class="custom-dropdown-menu dropdown-menu-customization">
                {{#each attendees}}
                    {{log this}}
                    {{view 'single_attendee' contentBinding=this}}
                {{/each}}
            </ul>
        </div>
    {{else}}
        <h5>No attendees on this table yet</h5>
    {{/if}}
</div>
