<div>
    {{#if attendees}}
        <div class="custom-dropdown clearfix attendee_list">
            <ul class="custom-dropdown-menu dropdown-menu-customization">
                {{#each attendee in attendees}}
                    {{log attendee.isLoaded}}
                    {{control_smart 'single_attendee' attendee}}
                {{/each}}
            </ul>
        </div>
    {{else}}
        <h5>No attendees on this table yet</h5>
    {{/if}}
</div>
